body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--color1: #fff;
	--color2: #ff3627;
	--color3: #181848; 

	--font1: 'Abril Fatface', cursive;
	--font2: 'Roboto', sans-serif;
}

html {
	scroll-behavior: smooth;
}

.header {
	background: url('../img/background.jpg')  no-repeat center/cover ;
	height: 100vh;
}

.overlay {
	background-color: rgb(255,255,255,0.5);
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color3);
}

.logo {
	position: absolute;
	top: 2rem;
	left: 1rem;
}

.logo img {
	max-width: 100px;
}

.header__menu {
	position: absolute;
	top: 2.75rem;
	left: 50%;
	transform: translateX(-50%);
	list-style: none;
	display: flex;
	width: 550px;
	justify-content: space-between;
	align-items: center;
}

.header .toggle {
	display: none;
}

.header__menu li a {
	color: var(--color3);
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 2px;
	font-size: 0.8rem;
}

.header__menu .close {
	display: none;
}

.header__text {
	width: 80%;
}

.header__text__top {
	display: flex;
	align-items: center;
	margin-top: 10rem;
} 

.header__text__top .sep {
	width: 120px;
	height: 2px;
	background: var(--color3);
}

.header__text__top h1 {
	font-size: 1.5rem;
	margin-left: 1rem;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.header__text_middle p{
	font-weight: 400;
	font-family: var(--font1);
	font-size: 5rem;
	margin: 0 0 2rem;

}

.header__text__bottom p {
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	animation: bounce infinite 1s;
	
}

/* Content */

.content {
	max-width: 1240px;
	margin: 0 auto;
	padding: 3rem 1rem 1rem;
	display: flex;
	justify-content: center;
}

.edito-container {
	width: 75%;
	margin-right: 2rem;

}

.content .separator {
	 width: 120px;
	 height: 5px;
	 background-color: var(--color2);
 }

.content h2 {
	font-family: var(--font1);
	font-size: 3rem;
	margin: 1rem 0;
}

.recent-recipe-list {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	list
}

.recent-recipe-list h2 {
	font-family: var(--font1);
	font-size: 2rem;
}

.recent-recipe-list__content {
	list-style: none;
	padding-left: 0;
}

.recent-recipe-list__content li {
	padding-bottom: 0.5rem;
}

.footer {
	background-color: var(--color3);

}

.footer-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--color1);
	padding: 2rem 0;
}

.footer-container a {
	color: var(--color1);
	text-decoration: none;
}


/* Responsive */

@media all and (max-width: 760px) {
	.header .toggle {
		display: block;
		position: absolute;
		top: 1rem;
		right: 1rem;
		font-size: 1.75rem;
		cursor: pointer;
	}

	.open {
		display: block;
	}

	.close {
		display: none;
	}

	.toggleCliked .open {
		opacity: 0;
		transition: opacity 0.5s linear;
	}

	.toggleCliked .close {
		display: block;
		color: var(--color1);
		position: absolute;
		top: 1rem;
		right: 2rem;
		font-size: 2rem;
	}

	.header__menu {
		margin-top: 0;
		padding: 0;
		background-color: var(--color3);
		width: 100%;
		height: 100%;
		top: 0;
		left: 0; 
		transform: translateX(-100%);
		transition: transform 0.5s;
		flex-direction: column;
		justify-content: space-around;
		
	}
	
	.header__menu li a {
		color: var(--color1);
		font-size: 2rem;
	}
	
	.toggleCliked .header__menu {
		transform: translateX(0);
		transition: transform 0.5s;
	}

	.toggleCliked .logo {
		z-index: 1;
		background-color: var(--color1);
		border-radius: 50%;
		transition: background-color 1s linear;
	}
	
	
	.header__text_middle p{
		font-size: 3rem;
	
	}

	.content {
		display: block;
	}

	.edito-container {
		width: 100%;
	}

}

@keyframes bounce {
	0% {
		top: 0;
	}
	50% {
		top: 10px;
	}
	100% {
		top: 0;
	}
}


